{% extends 'layout.html.twig' %}
{% block service %}active{% endblock %}
{% block body %}
    <!-- Header Start -->
    <div class="container-fluid py-5 mb-5 page-header-domicile">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Retour a domicile"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Domicile"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- About Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 position-relative mb-5 mb-lg-0 " style="min-height: 500px;">
                    <div class="position-absolute serviceright  h-100">
                        <img class="w-100 h-100 boxshadowright rounded" src="{{ asset('images/domicile-1.avif') }}"
                             style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-5 shadow bg-white rounded">
                    <div class="m-4">
                        <h5 class="d-inline-block text-primary border-bottom border-5">
                            Retour a domicile
                        </h5>
                        <h1 class="display-4">
                            Soins médicaux personnalisés pour votre bien-être quotidien
                        </h1>
                    </div>
                    <p class="about m-4">

                        Nous simplifions le processus de retour à domicile post-hospitalisation en assurant une transition sécurisée et confortable pour les patients. Notre priorité est d'offrir un suivi médical adapté pour garantir leur bien-être et leur rétablissement. Grâce à notre expertise, nous coordonnons les différentes étapes nécessaires pour assurer une prise en charge complète, de la sortie de l'hôpital à l'intégration à domicile. Nous mettons en place des protocoles et des dispositifs spécifiques pour répondre aux besoins individuels de chaque patient, assurant ainsi une continuité des soins sans faille.

                        Notre équipe qualifiée assure un suivi personnalisé, veillant à ce que les patients reçoivent les soins et les traitements nécessaires selon leur état de santé. Nous mettons également en place des mesures de sécurité et des dispositifs de surveillance pour prévenir toute complication et garantir un environnement sécurisé à domicile. Notre objectif est de permettre aux patients de retrouver leur autonomie tout en bénéficiant du soutien médical dont ils ont besoin pour se rétablir pleinement.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- About Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 shadow py-5 rounded bg-white">
                    <div class="m-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">
                            Retour a domicile
                        </h5>
                        <h1 class="display-4">
                            Consultations médicales complètes
                        </h1>
                    </div>
                    <p class="about m-4">
                        Grâce à notre approche centrée sur le patient, nous visons à rendre le retour à domicile après une hospitalisation aussi fluide et rassurant que possible. Nous collaborons étroitement avec les professionnels de santé et les membres de la famille pour assurer une transition harmonieuse et une prise en charge globale. En résumé, notre service vise à offrir aux patients une transition en douceur vers leur domicile, tout en leur fournissant un suivi médical complet et adapté à leurs besoins individuels.
                    </p>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative mb-5" style="min-height: 500px;">
                    <div class="position-absolute serviceleft py-5 h-100">
                        <img class="w-100 h-100 rounded boxshadowleft" src="{{ asset('images/domicile-2.avif ') }}"
                             style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Appointment Start -->
    <div class="container-fluid bg-primary my-5 pt-5">
        <div class="container py-5">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0 mt-5">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Rendez-vous !</h5>
                        <h1 class="display-4">Prendre Rendez-vous !</h1>
                    </div>
                    <p class="text-white mb-5 about">
                        Chez Sencare, nous offrons une gamme complète de services de santé pour répondre aux besoins de
                        nos patients avec compassion et expertise.
                    </p>
                    {#                    <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="">Find Doctor</a>#}
                    {#                    <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="">Read More</a>#}
                </div>
                <div class="col-lg-6" id="urgence">
                    <div class="bg-white text-center rounded p-5">
                        <h1 class="mb-4">Prendre Rendez-vous</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected>Sélectionnez le département</option>
                                        <option value="1">Department 1</option>
                                        <option value="2">Department 2</option>
                                        <option value="3">Department 3</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected>Sélectionnez un docteur</option>
                                        <option value="1">Doctor 1</option>
                                        <option value="2">Doctor 2</option>
                                        <option value="3">Doctor 3</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0"
                                           placeholder="nom"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-light border-0"
                                           placeholder="email"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text"
                                               class="form-control bg-light border-0 datetimepicker-input"
                                               placeholder="Choisissez la date" data-target="#date"
                                               data-toggle="datetimepicker"
                                               style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text"
                                               class="form-control bg-light border-0 datetimepicker-input"
                                               placeholder="Choisissez L'heure" data-target="#time"
                                               data-toggle="datetimepicker"
                                               style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Envoyer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->

    <!-- Pricing Plan Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Demande d'urgence</h5>
                <h1 class="display-4">Formulaire demande d'urgence</h1>
            </div>
            <div class="row gx-5">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-7" id="urgence">
                    <div class="bg-primary text-center rounded p-5">
                        <h1 class="mb-4 text-white">Demande d'urgence !</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-lg-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="nom" style="height: 55px;">
                                </div>
                                <div class="col-lg-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="prénom" style="height: 55px;">
                                </div>
                                <div class="col-lg-12 col-sm-6">
                                    <input type="number" class="form-control bg-light border-0" placeholder="téléphone" style="height: 55px;">
                                </div>
                                <div class="col-lg-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Adresse" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3 text-white" type="submit">
                                        Envoyer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Plan End -->


{% endblock %}
