{% extends 'layout.html.twig' %}
{% block service %}active{% endblock %}
{% block body %}
    <!-- Header Start -->
    <div class="container-fluid py-5 mb-5 page-header-soins">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Injection et Perfusion"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Injection et Perfusion "|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- About Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 position-relative mb-5 mb-lg-0 " style="min-height: 500px;">
                    <div class="position-absolute serviceright h-100">
                        <img class="w-100 h-100 boxshadowright rounded" src="{{ asset('images/injection-1.avif') }}"
                             style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-5 shadow bg-white rounded">
                    <div class="m-4">
                        <h5 class="d-inline-block text-primary border-bottom border-5">
                            Injection et Perfusion
                        </h5>
                        <h1 class="display-4">
                            Soins médicaux personnalisés pour votre bien-être quotidien
                        </h1>
                    </div>
                    <p class="about m-4">
                        Nous comprenons que chaque individu a des besoins de santé uniques. Nos services de soins généraux sont conçus pour répondre à ces besoins de manière complète et personnalisée. Nous offrons des consultations médicales générales où nos médecins généralistes prennent le temps de vous écouter, d’évaluer votre état de santé général et de discuter de vos préoccupations. Que vous nécessitiez un examen de routine, des conseils sur la gestion d'une maladie chronique, ou un traitement pour une condition aiguë, notre équipe est là pour vous aider.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- About Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 shadow py-5 rounded bg-white">
                    <div class="m-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">
                            Injection et Perfusion
                        </h5>
                        <h1 class="display-4">
                            Consultations médicales complètes
                        </h1>
                    </div>
                    <p class="about m-4">
                        Dans notre établissement hospitalier, nous proposons des services d'injections et de perfusions assurés par des infirmières hautement qualifiées, garantissant ainsi une administration sûre et confortable pour nos patients. Nos professionnels de santé sont spécialement formés pour offrir des soins médicaux de qualité, respectant les normes les plus strictes en matière de sécurité et d'hygiène.

                        Grâce à notre équipe expérimentée, les patients peuvent bénéficier de ces procédures médicales essentielles dans un environnement sécurisé et rassurant. Nous mettons un point d'honneur à assurer le confort des patients tout au long de leur traitement, en veillant à ce qu'ils se sentent soutenus et pris en charge à chaque étape.
                    </p>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative mb-5" style="min-height: 500px;">
                    <div class="position-absolute serviceleft h-100">
                        <img class="w-100 h-100 rounded boxshadowleft" src="{{ asset('images/perfusion.avif ') }}"
                             style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Appointment Start -->
    <div class="container-fluid bg-primary my-5 pt-5">
        <div class="container py-5">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0 mt-5">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Rendez-vous !</h5>
                        <h1 class="display-4">Prendre Rendez-vous !</h1>
                    </div>
                    <p class="text-white mb-5 about">
                        Nos services d'injections et de perfusions sont adaptés aux besoins spécifiques de chaque patient, avec une attention particulière portée à leur bien-être et à leur confort. Nous nous engageons à fournir un service personnalisé, en tenant compte des préférences individuelles et en garantissant une expérience de soins sans stress.

                        En résumé, notre établissement hospitalier propose des services d'injections et de perfusions dispensés par des professionnels compétents, dans le respect des normes de sécurité les plus élevées, pour assurer le confort et la tranquillité d'esprit des patients tout au long de leur traitement.
                    </p>
                    {#                    <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="">Find Doctor</a>#}
                    {#                    <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="">Read More</a>#}
                </div>
                <div class="col-lg-6" id="urgence">
                    <div class="bg-white text-center rounded p-5">
                        <h1 class="mb-4">Prendre Rendez-vous</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected>Sélectionnez le département</option>
                                        <option value="1">Department 1</option>
                                        <option value="2">Department 2</option>
                                        <option value="3">Department 3</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected>Sélectionnez un docteur</option>
                                        <option value="1">Doctor 1</option>
                                        <option value="2">Doctor 2</option>
                                        <option value="3">Doctor 3</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0"
                                           placeholder="nom"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-light border-0"
                                           placeholder="email"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text"
                                               class="form-control bg-light border-0 datetimepicker-input"
                                               placeholder="Choisissez la date" data-target="#date"
                                               data-toggle="datetimepicker"
                                               style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text"
                                               class="form-control bg-light border-0 datetimepicker-input"
                                               placeholder="Choisissez L'heure" data-target="#time"
                                               data-toggle="datetimepicker"
                                               style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Envoyer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->

    <!-- Pricing Plan Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Demande d'urgence</h5>
                <h1 class="display-4">Formulaire demande d'urgence</h1>
            </div>
            <div class="row gx-5">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-7" id="urgence">
                    <div class="bg-primary text-center rounded p-5">
                        <h1 class="mb-4 text-white">Demande d'urgence !</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-lg-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="nom" style="height: 55px;">
                                </div>
                                <div class="col-lg-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="prénom" style="height: 55px;">
                                </div>
                                <div class="col-lg-12 col-sm-6">
                                    <input type="number" class="form-control bg-light border-0" placeholder="téléphone" style="height: 55px;">
                                </div>
                                <div class="col-lg-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Adresse" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3 text-white" type="submit">
                                        Envoyer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Plan End -->


{% endblock %}
